body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.8;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  border-bottom: 2px solid red;
 }

.slide h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: red;
  border: none;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.catalog-shop,
.list-services,
.list-customers {
  list-style: none;
}

.filters ul,
.pagination-list {
  list-style: none;
}

.caption-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.tagline-presentation {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.presentation-services {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.statistics-percent {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
  color: #000000;
}

.percent {
  font-size: 25px;
  line-height: 10,06px;
  font-weight: 700;
  vertical-align: super;
}

.headnames {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.countnumber label,
.countnumber input {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283136;
}

.link-customers a {
  opacity: 0.2;
}

.link-customers a:hover,
.link-custimers a:focus {
  opacity: 1;
}

.link-customers a:active {
  opacity: 0.1;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee; 
}

.shop ul {
  list-style: none;
}

.shop-progress a {
  color: rgba(0, 0, 0, 0.3);
}

.card-link p {
  color: #666666;
}

.pricesort li {
  text-transform: uppercase;
}

.pagination-list a {
  color: #000000;

  background-color: #eeeeee;
}

.pagination-list a:hover {
  color: #000000;

  background-color: #dfdfdf;
}

.pagination-list a:focus {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.pagination-list a:active {
  color: #000000;

  background-color: #ffffff;
  border: solid 2px #dbdbdb;
}

.main-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: #283136;
  text-decoration: none;
}

.footer-down b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-down p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.modal-form {
  background-color: #ffffff;   
}

.modal-form h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;  
}

.write-form label {
  font-weight: 700;
}

.write-form input,
.write-form textarea {
  font: inherit;
  color: #d7dcde;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.write-form input:hover,
.write-form textarea:hover,
.filter-button:hover {
  color: #b4b9bb;

  background-color: #ffffff;

  border: solid 2px #b4b9bb;
}

.write-form input:focus,
.write-form textarea:focus,
.filter-button:focus {
  color: #444444;

  background-color: #ffffff;

  border: solid 2px #000000;
}

.write-form input:invalid { 
  color: #e74246;

  background-color: #ffffff;

  border: solid 2px #e74246;
}

/* ----- Сеточные стили ----- */

body {
  min-width: 1440px;
  min-height: 1240px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-bottom: 80px;
  min-height: 355px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
}

.main-navigation-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  width: 100%;
  padding-top: 50px;
}

.main-header-logo  {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 140px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  
  list-style: none;
}

.site-navigation li {
  display: block;
  margin-top: 25px;
  margin-right: 46px;
  margin-bottom: 5px;
  vertical-align: middle;
  color: #000000;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.user-navigation li {
  display: block;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 5px;
  vertical-align: middle;
  color: #000000;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 9px;

  width: 16px;
  height: 16px;

  background-image: url("../img/decor/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide h2 {
  width: 515px;
}

.slide p {
  width: 410px;
}

.container-shop {
  padding-bottom: 80px;
  margin-bottom: 25px;
  border-bottom: 2px solid #eeeeee;
}

.catalog-shop {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


li.catalog-item  {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0;
  padding: 0;
  margin-right: 100px;

  list-style: none;
}

.catalog-item h3 {
  order: 2;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 0;
}

.catalog-item .catalog-item-tagline {
  order: 3;
}

p.catalog-item-image {
  order: 1;
  width: 300px;
  height: 146px;
  margin: 0;
}

.catalog-item .button {
  align-self: flex-start;
  order: 4;
  padding-right: 40px;
  padding-left: 40px;
}

.catalog-item-tagline {
  display: block;
  max-width: 245px;
  margin: 0;
  margin-bottom: 35px;
}

.catalog-shop li:last-child {
  margin-right: 0;
}

.button {
  display: inline-block;
  padding: 15px 18px;
  background-color: #fb565a;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.catalog-item .button:hover,
.catalog-item .button:focus {
  background-color: #e74246;
}

.catalog-item .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.catalog-shop li:nth-child(2) .button {
  background-color: #00ca74;
}

.catalog-shop li:nth-child(3) .button {
  background-color: #efc84a;
}




.container-presentation {
  padding-bottom: 70px;
  border-bottom: 2px solid #eeeeee;
}

.presentation-parts {
  display: flex;
  justify-content: space-between;
}

.text-presentation {
  width: 660px;
  padding-top: 50px;
}

.text-presentation p {
  margin: 0;
  padding: 0;
}

.text-presentation p:first-child {
  margin-bottom: 32px;
}

.text-presentation p:nth-child(2) {
  margin-bottom: 40px;
}

.text-presentation h3,
.text-presentation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.text-presentation h3 {
  margin-bottom: 25px;
}

.list-services li {
  padding-left: 35px;
  margin-bottom: 25px;
}

.list-services li:last-child {
  margin-bottom: 0
}


.list-services li {
  position: relative;
}

.list-services li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  width: 25px;
  border-bottom: 2px solid #fb565a;
}

.statistics-presentation {
  width: 360px;
  padding-top: 16px;
}

.statistics-presentation p,
.statistics-presentation h3,
.statistics-presentation table {
  margin: 0;
  padding: 0;

  list-style: none;
}

.statistics-presentation p {
  margin-bottom: 30px;
}

.statistics-presentation h3 {
  margin-bottom: 41px;
  padding-left: 16px;
}

.statistics-slogan {
  line-height: 18px;
}

.statistics td {
  padding-right: 20px;
}

.statistics-fact td {
  padding-bottom: 25px;
}

.statistics td:last-child {
  padding-right: 0;
}

.container-customers {
  width: 1160px;
  margin-bottom: 75px;
  border-bottom: 2px solid #eeeeee;
}

.list-customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.link-customers {
  position: relative;
  width: 260px;
  height: 180px;
}

.link-customers::after  {
  content: "";
  position: absolute;
  top: 20;
  right: -20px;
  width: 2px;
  height: 52px;
  margin-top: -116px;
  border-right: 2px solid #eeeeee; 
}

.link-customers:last-child::after  {
  content: "";
  position: absolute;
  top: 20;
  right: -20px;
  width: 2px;
  height: 52px;
  margin-top: -116px;
  border-right: none; 
}

.htmlacademy {
  margin-top: 10px;
}

.link-customers a {
  display: flex;
  width: 260px;
  height: 180px;
  margin: auto;
}

.link-client img {
  max-width: 100%
  height: auto;
  margin: auto;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
 
  list-style: 0;
}

.price-filter {
  width: 260px;
}

.shop ul {
  margin: 0;
  padding: 0;

  list-style: 0;
}

.shop {
  width: 760px;
}

.shop-progress ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.shop-progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.pricesort {
  display: flex;
  justify-content: space-between;
  margin-left: 260px;
}

.pricecursor {
  display: flex;
  justify-content: space-between;
}

.shop-catalog li {
  margin: 0;
  padding: 0;
  width: 360px;

  list-style: none;
}

ul.shop-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 65px;
}

.pagination ul  {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;

  list-style: none;
}
.footer-contacts {
  position: relative;
  display: flex;
  justify-content: center;
}

.contacts {
  position: absolute;
  top: 0;
  left: 5;
  display: block;
  width: 319px;
  height: 308px;
  margin-top: 56px;
  background-color: #ffffff;
}

.contacts-address h3,
.contacts-address p
.contacts-address a {
  margin: 0;
  padding: 0;
}

.contacts-address {
  padding: 50px;
}

.contacts-address h3 {
  margin-bottom: 23px;
}

.studio-adress {
  max-width: 210px;
  margin-bottom: 17px;
}

.phone {
  margin-bottom: 38px;
}

.contacts-address .button {
  display: inline-block;
  padding: 15px 43px;
}

.footer-wrapper {
  display: flex;
  margin-top: 67px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
}

.footer-social {
  margin-right: 140px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.footer-down {
  width: 550px;
}

.modal-form {
  width: 960px;
  height: 590px;
  background-color: yellow;
}

.modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-wrapper h2,
.modal-wrapper button {
  margin: 0;
  padding: 0;
}

.write-form p {
  margin: 0;
  padding: 0; 
}

.write-form {
  width: 760px;
  padding: 150px;
}


.appointment-item {
  width: 360px;
}

.message-item {
  width: 760px;
}