body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.8;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  border-bottom: 2px solid red;
 }

.slide h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: red;
  border: none;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.catalog-shop,
.list-services,
.list-customers {
  list-style: none;
}

.filters ul,
.pagination-list {
  list-style: none;
}

.caption-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.tagline-presentation {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.presentation-services {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.statistics-percent {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
  color: #000000;
}

.percent {
  font-size: 25px;
  line-height: 10,06px;
  font-weight: 700;
  vertical-align: super;
}

.headnames {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.countnumber label,
.countnumber input {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283136;
}

.link-customers a {
  opacity: 0.2;
}

.link-customers a:hover,
.link-custimers a:focus {
  opacity: 1;
}

.link-customers a:active {
  opacity: 0.1;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee; 
}

.shop ul {
  list-style: none;
}

.shop-progress a {
  color: rgba(0, 0, 0, 0.3);
}

.card-link p {
  color: #666666;
}

.pagination-list a {
  color: #000000;

  background-color: #eeeeee;
}

.pagination-list a:hover {
  color: #000000;

  background-color: #dfdfdf;
}

.pagination-list a:focus {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.pagination-list a:active {
  color: #000000;

  background-color: #ffffff;
  border: solid 2px #dbdbdb;
}

.main-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: #283136;
  text-decoration: none;
}

.footer-down b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-down p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.modal-form {
  background-color: #ffffff;   
}

.modal-form h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;  
}

.write-form label {
  font-weight: 700;
}

.write-form input,
.write-form textarea {
  font: inherit;
  color: #d7dcde;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.write-form input:hover,
.write-form textarea:hover,
.filter-button:hover {
  color: #b4b9bb;

  background-color: #ffffff;

  border: solid 2px #b4b9bb;
}

.write-form input:focus,
.write-form textarea:focus,
.filter-button:focus {
  color: #444444;

  background-color: #ffffff;

  border: solid 2px #000000;
}

.write-form input:invalid { 
  color: #e74246;

  background-color: #ffffff;

  border: solid 2px #e74246;
}

/* ----- Сеточные стили ----- */

.main-header {
  margin-bottom: 80px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.main-header-logo {
  padding-left: 20px;
}


.site-navigation {
  width: 445px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  
  list-style: none;
}

.user-navigation {
  width: 135px;
  margin-left: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}
